@main-color: #FFFFFF;
@feedback-color: #D5FAFC;
@pre-footer-color: #2EC5CE;
@footer-color: #0B0D17;
@heading-font:'Manrope', sans-serif;
@heading-size: 48px;
@text-size: 18px;


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #282828;
}

.container {
    width: 100%;
    padding-left: 165px;
    padding-right: 165px;

}

.header-container {
  display: flex;
  justify-content: space-around;
  background-color: @pre-footer-color;
}